*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(237, 237, 237);
}
.img{
    width: 500px;
    height: 500px;
}
.btn{
    margin: 20px;
    width: 120px;
    height: 40px;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    background-image: linear-gradient( 292.9deg,  rgba(254,105,241,1) 28.8%, rgba(182,44,248,1) 70.4% );
}